In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv ('C:/Users/User/Project 3/ACAN.csv')

In [40]:
df1['Ticker'] = 'ACAN'

In [41]:
df1

         Date   Open   High    Low  Close  Adj Close   Volume Ticker
0    7/1/2017  2.600  2.650  1.560  2.558      2.558   689500   ACAN
1    8/1/2017  1.600  2.230  1.110  1.726      1.726  1767000   ACAN
2    9/1/2017  1.730  2.430  1.250  1.900      1.900  1172800   ACAN
3   10/1/2017  1.925  2.050  1.700  1.770      1.770   513500   ACAN
4   11/1/2017  1.770  2.470  1.560  2.030      2.030  1047400   ACAN
5   12/1/2017  2.020  4.900  2.020  4.090      4.090  2316900   ACAN
6    1/1/2018  4.425  5.350  2.560  3.300      3.300  3900200   ACAN
7    2/1/2018  3.300  3.490  2.610  2.710      2.710   861900   ACAN
8    3/1/2018  2.780  2.780  1.900  1.940      1.940   613700   ACAN
9    4/1/2018  1.980  3.766  1.700  3.640      3.640  1193000   ACAN
10   5/1/2018  3.680  4.700  2.680  3.750      3.750  2906400   ACAN
11   6/1/2018  3.850  3.970  3.050  3.449      3.449  1946000   ACAN
12   7/1/2018  3.300  3.450  2.120  2.410      2.410  1176500   ACAN
13   8/1/2018  2.425  3.000  2.025  2.650      2.650  1489800   ACAN
14   9/1/2018  2.650  3.700  2.130  3.040      3.040  2076300   ACAN
15  10/1/2018  3.070  3.290  2.140  2.558      2.558  1875600   ACAN
16  11/1/2018  2.645  3.100  2.250  2.310      2.310  1413300   ACAN
17  12/1/2018  2.300  2.450  1.700  2.130      2.130  1008100   ACAN
18   1/1/2019  2.080  2.250  1.830  2.000      2.000   909900   ACAN
19   2/1/2019  2.010  2.079  1.810  1.900      1.900   770000   ACAN
20   3/1/2019  1.890  1.920  1.750  1.820      1.820   755800   ACAN
21   4/1/2019  1.890  1.890  0.810  1.285      1.285  1016500   ACAN
22   5/1/2019  1.390  1.520  1.150  1.350      1.350   711500   ACAN
23   6/1/2019  1.250  1.680  1.020  1.220      1.220   828000   ACAN
24   7/1/2019  1.170  1.350  1.050  1.250      1.250   702500   ACAN
25   8/1/2019  1.250  1.340  1.060  1.100      1.100   565200   ACAN
26   9/1/2019  1.080  1.150  0.850  0.950      0.950   431700   ACAN
27  10/1/2019  0.950  0.950  0.420  0.680      0.680   634600   ACAN
28  11/1/2019  0.680  0.800  0.600  0.690      0.690   449800   ACAN
29  12/1/2019  0.689  0.700  0.600  0.611      0.611   580200   ACAN
30   1/1/2020  0.620  0.780  0.600  0.640      0.640   499500   ACAN
31   2/1/2020  0.625  0.950  0.550  0.650      0.650  1047900   ACAN
32   3/1/2020  0.660  0.720  0.350  0.548      0.548   746400   ACAN
33   4/1/2020  0.500  0.620  0.402  0.570      0.570   535600   ACAN
34   5/1/2020  0.570  0.670  0.450  0.640      0.640   411200   ACAN
35   6/1/2020  0.570  0.700  0.500  0.540      0.540   271800   ACAN
36   7/1/2020  0.540  0.609  0.540  0.590      0.590    25600   ACAN
37   7/6/2020  0.520  0.590  0.520  0.540      0.540    11425   ACAN

In [79]:
df2 = pd.read_csv ('C:/Users/User/Project 3/ACB.csv')

In [43]:
df3 = pd.read_csv ('C:/Users/User/Project 3/AMRS.csv')

In [44]:
df4 = pd.read_csv ('C:/Users/User/Project 3/APHA.csv')

In [45]:
df5 = pd.read_csv ('C:/Users/User/Project 3/CARA.csv')

In [46]:
df6 = pd.read_csv ('C:/Users/User/Project 3/CRBP.csv')

In [47]:
df7 = pd.read_csv ('C:/Users/User/Project 3/GTBIF.csv')

In [48]:
df8 = pd.read_csv ('C:/Users/User/Project 3/IIPR.csv')

In [49]:
df9 = pd.read_csv ('C:/Users/User/Project 3/MJ.csv')

In [50]:
df10 = pd.read_csv ('C:/Users/User/Project 3/MRMD.csv')

In [51]:
df11 = pd.read_csv ('C:/Users/User/Project 3/NBEV.csv')

In [52]:
df12 = pd.read_csv ('C:/Users/User/Project 3/TGOD.csv')

In [53]:
df13 = pd.read_csv ('C:/Users/User/Project 3/TGODF.csv')

In [54]:
df14 = pd.read_csv ('C:/Users/User/Project 3/TLRY.csv')

In [55]:
df15 = pd.read_csv ('C:/Users/User/Project 3/TRST.csv')

In [56]:
df16 = pd.read_csv ('C:/Users/User/Project 3/TRTC.csv')

In [57]:
#Since November2018
df17 = pd.read_csv ('C:/Users/User/Project 3/ACRGF.csv')

In [58]:
#Since March 2018
df18 = pd.read_csv ('C:/Users/User/Project 3/ALEAF.csv')

In [59]:
#Since October 2018
df19 = pd.read_csv ('C:/Users/User/Project 3/CURLF.csv')

In [60]:
#Since November 2018
df20 = pd.read_csv ('C:/Users/User/Project 3/YCBD.csv')

In [69]:
df21 = pd.read_csv ('C:/Users/User/Project 3/CRON.csv')

In [70]:
df22 = pd.read_csv ('C:/Users/User/Project 3/GWPH.csv')

In [72]:
df23 = pd.read_csv ('C:/Users/User/Project 3/CGC.csv')

In [73]:
df24 = pd.read_csv ('C:/Users/User/Project 3/SMG.csv')

In [74]:
df25 = pd.read_csv ('C:/Users/User/Project 3/TAP.csv')

In [75]:
df26 = pd.read_csv ('C:/Users/User/Project 3/WEED.TO.csv')

In [81]:
#Since May2018
df27 = pd.read_csv ('C:/Users/User/Project 3/MMNFF.csv')

In [76]:
df28 = pd.read_csv ('C:/Users/User/Project 3/MO.csv')

In [77]:
df29 = pd.read_csv ('C:/Users/User/Project 3/BUD.csv')

In [93]:
#Since November 2018
df30 = pd.read_csv ('C:/Users/User/Project 3/HRVSF.csv')

In [94]:
#Since May 2018
df31 = pd.read_csv ('C:/Users/User/Project 3/TLLTF.csv')

In [95]:
#Since Nov 2018
df32 = pd.read_csv ('C:/Users/User/Project 3/AYRSF.csv')

In [96]:
#Since March 2018
df33 = pd.read_csv ('C:/Users/User/Project 3/GRWG.csv')

In [97]:
df34 = pd.read_csv ('C:/Users/User/Project 3/PLNHF.csv')

In [98]:
df35 = pd.read_csv ('C:/Users/User/Project 3/CXXIF.csv')

In [99]:
#Since march 2018
df36 = pd.read_csv ('C:/Users/User/Project 3/KSHB.csv')

In [100]:
df1['Ticker'] = 'ACAN'
df2['Ticker'] = 'ACB'
df3['Ticker'] = 'AMRS'
df4['Ticker'] = 'APHA'
df5['Ticker'] = 'CARA'
df6['Ticker'] = 'CRBP'
df7['Ticker'] = 'GTBIF'
df8['Ticker'] = 'IIPR'
df9['Ticker'] = 'MJ'
df10['Ticker'] = 'MRMD'
df11['Ticker'] = 'NBEV'
df12['Ticker'] = 'TGOD'
df13['Ticker'] = 'TGODF'
df14['Ticker'] = 'TLRY'
df15['Ticker'] = 'TRST'
df16['Ticker'] = 'TRTC'
df17['Ticker'] = 'ACRGF'
df18['Ticker'] = 'ALEAF'
df19['Ticker'] = 'CURLF'
df20['Ticker'] = 'YCBD'
df21['Ticker'] = 'CRON'
df22['Ticker'] = 'GWPH'
df23['Ticker'] = 'CGC'
df24['Ticker'] = 'SMG'
df25['Ticker'] = 'TAP'
df26['Ticker'] = 'WEED.TO'
df27['Ticker'] = 'MMNFF'
df28['Ticker'] = 'MO'
df29['Ticker'] = 'BUD'
df30['Ticker'] = 'HRVSF'
df31['Ticker'] = 'TLLTF'
df32['Ticker'] = 'AYRSF'
df33['Ticker'] = 'GRWG'
df34['Ticker'] = 'PLNHF'
df35['Ticker'] = 'CXXIF'
df36['Ticker'] = 'KSHB'

In [101]:
merged_df= df1.append(df2) 
merged_df = merged_df.append(df3) 
merged_df = merged_df.append(df4) 
merged_df = merged_df.append(df5) 
merged_df = merged_df.append(df5) 
merged_df = merged_df.append(df6) 
merged_df = merged_df.append(df7) 
merged_df = merged_df.append(df8) 
merged_df = merged_df.append(df9)
merged_df = merged_df.append(df10)
merged_df = merged_df.append(df11)
merged_df = merged_df.append(df12)
merged_df = merged_df.append(df13)
merged_df = merged_df.append(df14)
merged_df = merged_df.append(df15)
merged_df = merged_df.append(df16)
merged_df = merged_df.append(df17)
merged_df = merged_df.append(df18)
merged_df = merged_df.append(df19)
merged_df = merged_df.append(df20)
merged_df = merged_df.append(df21)
merged_df = merged_df.append(df22)
merged_df = merged_df.append(df23)
merged_df = merged_df.append(df24)
merged_df = merged_df.append(df25)
merged_df = merged_df.append(df26)
merged_df = merged_df.append(df27)
merged_df = merged_df.append(df28)
merged_df = merged_df.append(df29)
merged_df = merged_df.append(df30)
merged_df = merged_df.append(df31)
merged_df = merged_df.append(df32)
merged_df = merged_df.append(df33)
merged_df = merged_df.append(df34)
merged_df = merged_df.append(df35)
merged_df = merged_df.append(df36)

In [103]:
merged_df

         Date   Open   High    Low  Close  Adj Close    Volume Ticker
0    7/1/2017  2.600  2.650  1.560  2.558      2.558    689500   ACAN
1    8/1/2017  1.600  2.230  1.110  1.726      1.726   1767000   ACAN
2    9/1/2017  1.730  2.430  1.250  1.900      1.900   1172800   ACAN
3   10/1/2017  1.925  2.050  1.700  1.770      1.770    513500   ACAN
4   11/1/2017  1.770  2.470  1.560  2.030      2.030   1047400   ACAN
..        ...    ...    ...    ...    ...        ...       ...    ...
25   4/1/2020  0.650  0.758  0.545  0.692      0.692  13585100   KSHB
26   5/1/2020  0.686  1.280  0.590  1.185      1.185  16761900   KSHB
27   6/1/2020  1.140  1.230  0.685  0.704      0.704  13913400   KSHB
28   7/1/2020  0.739  0.800  0.700  0.740      0.740   1403800   KSHB
29   7/7/2020  0.760  0.795  0.730  0.745      0.745    553009   KSHB

[1227 rows x 8 columns]

In [ ]:
df.pivot(index='foo', columns='bar', values='baz')